@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Oswald-Regular.ttf"), format("ttf");
}

.oswald {
    font-family: "Oswald", sans-serif;
}


body {

}

.wrap-page {
    height: 100vh;
}

.site-header {
    padding: 1rem;
    svg {
        margin-top: -3px;
    }
}

a.navbar-brand {
    color: $primary;
    font-weight: bold;
}

button {
    border: 0;
    background: none;
}

#nav-naked {
    li {
        margin: 0 1rem;
    }
}

#sidebar-left {
    background-color: #F7F8F8;
    .sidebar-header {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
}

#offcanvas-close {
    position: absolute;
    top: 22px;
    right: 20px;
}

.offcanvas-header {
    margin: auto;
    padding-top: 2rem;
}

nav.breadcrumb {
    border-bottom: 1px solid $gray-400;
}

.wrap-search {
    background: $black url("../../static/images/meat-and-corn.jpg") top center no-repeat;
    background-size: cover;
    height: 350px;
    padding-top: 115px;
    .input-group {
        input[type="text"] {
            font-weight: bold;
        }
    }
}

.wrap-content {
    min-height: 50vh;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.grid-item {
    border-radius: 4px;
    overflow: hidden;
    padding: 1px;
    img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}