body {
    
}

.wrap-page {
    height: 100vh;
}

.site-header {
    padding: 3rem;
}

.menu-bars {
    display: inline-flex;
    .menu-bar {
        height: 2px;
        width: 20px;
        width: 100%;
        background-color: $gray-600;
        margin-bottom: 4px;
    }
    .menu-bar:last-of-type {
        margin-bottom: 0;
    }
}

#nav-naked {
    li {
        button {
            border: 0;
            background: none;
        }
    }
}