/* Error: expected "{".
 *    ,
 * 37 | >>>>>>> 9e1732dac4626288e36254aa1e054cd28fe2160c
 *    |                                                 ^
 *    '
 *   assets\scss\theme-style.scss 37:49  @import
 *   assets\scss\style.scss 53:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 37 \2502  >>>>>>> 9e1732dac4626288e36254aa1e054cd28fe2160c\d\a    \2502                                                  ^\a    \2575 \a   assets\\scss\\theme-style.scss 37:49  @import\a   assets\\scss\\style.scss 53:9         root stylesheet';
}
